<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:replace="fragments/status :: header"></label>
            </div>
         </div>
         <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Spring Security</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn Spring Security?
            </h4>
            <p>
               Spring Security is a powerful and highly customizable authentication and access-control framework
               that allows you to secure your Java applications. It provides a comprehensive set of highly
               customizable features that can be used to implement authentication,
               authorization, and protection against common attacks
            </p>
            <h4>
               Free Course
            </h4>
            <p>
               Laur Spilca's Spring Security course is a highly recommended resource for mastering Spring Security.
               This comprehensive course, updated for the latest version of Spring Security in 2022,
               offers in-depth coverage of authentication and authorization configurations, valuable tips,
               vulnerability considerations, and insights into OAuth 2 and more. With Laur's expertise,
               you'll gain the necessary skills to secure your applications effectively
               and stay up-to-date with the latest security practices in the Spring ecosystem.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLEocw3gLFc8X_a8hGWGaBnSkPFJmbb8QP" target="_blank">Laur Spilca's Spring Security Course</a>
            <p></p>
            <h4>
               Book
            </h4>
            <p>
               Spring Security in Action is a must-have book for Java developers.
               It covers essential topics like securing endpoints, managing users,
               and implementing authentication and authorization using OAuth2 and OpenID Connect.
               With practical examples, it addresses common threats and guides readers in creating
               advanced security configurations. By the end, developers will have a strong Spring Security setup,
               protecting their applications from risks. This comprehensive resource includes a free eBook,
               empowering developers to embrace secure coding practices effectively.
            </p>
            <a href="https://www.amazon.com/Spring-Security-Action-Laurentiu-Spilca-ebook/dp/B0977ZG6FZ/ref=sr_1_1?crid=2QV2ES7A6NS66&keywords=spring+security+in+action&qid=1684896581&s=digital-text&sprefix=spring+security+in+acti%2Cdigital-text%2C260&sr=1-1" target="_blank">Spring Security in Action</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>