<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Spring Framework</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:replace="fragments/status :: header"></label>
            </div>
         </div>
         <div class="modal-body">
            <p>
            <h4>
               Why you should learn Spring Framework?
            </h4>
            <p>
               Spring is an open source Java platform that provides comprehensive infrastructure support
               for developing robust Java applications very easily and very rapidly. It makes programming
               Java quicker, easier, and safer for everybody. Millions of developers around the world use
               Spring Framework to create high performing,
               easily testable, and reusable code.
            </p>
            </p>
            <h4>
               Free Course
            </h4>
            <p>
               Laur Spilca, a renowned author of the books 'Spring Starts Here' and
               'Spring Security in Action,' is a highly recommended resource for anyone
               looking to delve into the world of Spring. With expertise in enterprise
               application frameworks, Laur provides comprehensive insights into the
               intricacies of Spring and its core concepts.
               His dedicated Spring course is a must for those seeking a deep understanding
               of this powerful framework
            </p>
            <a href="https://www.youtube.com/playlist?list=PLOk4ziGG9MBdlyxIDw5wYvj6QZTQ22wvK" target="_blank">Laur Spilca's Spring Course</a>
            <p></p>
            <h4>
               Book
            </h4>
            <p>
               "Spring Starts Here" by Laur Spilca is an excellent book on the Spring framework.
               It offers a comprehensive and well-structured guide for developers of all levels.
               The book provides clear explanations, practical examples, and hands-on exercises.
               Readers will gain the necessary skills and knowledge to effectively leverage Spring's
               features and build robust applications.
            </p>
            <a href="https://www.amazon.com/Spring-Start-Here-Learn-learn/dp/1617298697/ref=sr_1_1?crid=3EMTRM9NAUBJ&keywords=spring+starts+here&qid=1684894785&s=books&sprefix=spring+start+he%2Cstripbooks-intl-ship%2C343&sr=1-1" target="_blank">Spring Starts Here</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>