/* to remove the margin-top space on nav-bar
/*.container {*/
/*    margin-top: 50px;*/
/*}*/

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

.btn-lg {
    padding: 10px 20px;
    font-size: 18px;
}

.btn-block {
    width: 100%;
}

.mb-3 {
    margin-bottom: 10px;
}

footer {
    background-color: darkgray;
}

.social-icon {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icon li {
    display: inline;
}

.social-icon li img {
    width: 25px;
}

/*footer {*/
/*    text-align: center;*/
/*}*/

/*footer img {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/