<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">JPA</h5>
<!--            <div class="form-check form-switch text-end">-->
<!--               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">-->
<!--               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>-->
<!--            </div>-->
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn JPA?
            </h4>
            <p>
               JPA is a Java specification that provides a high-level abstraction for managing relational
               data in Java applications. It simplifies database operations by offering an object-oriented
               approach and promotes code reusability and maintainability through its ORM capabilities.
               JPA supports various relational databases,
               allowing developers to work with different database systems seamlessly.
            </p>
            <h4>
               Free Course
            </h4>
            <p>
               Laur Spilca, the renowned author of 'Spring Starts Here' and 'Spring Security in Action,'
               is the go-to expert for mastering JPA. With his guidance, you'll gain the essential skills to
               build robust applications using this specification.
               Laur's expertise empowers developers to excel in JPA development.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLopMR9JeHK78mbSpqLJzM4I_HK6fiDj3l" target="_blank">Laur Spilca's JPA Course</a>
            <p></p>
            <h4>
               Book
            </h4>
            <p>
               Java Persistence with Spring Data and Hibernate is a book that teaches you the
               ins-and-outs of Java persistence with hands-on examples using Spring Data, JPA,
               and Hibernate. The book carefully analyzes the capabilities of the major Java
               persistence tools, and guides you through the most common use cases12.
               It is a great book for learning JPA because it covers all the important topics
               in detail and provides practical examples that can be used in real-world applications.
            </p>
            <a href="https://www.amazon.com/Java-Persistence-Spring-Data-Hibernate-ebook/dp/B0BT2XXZN4/ref=sr_1_1?crid=2D4N4XWENB2N4&keywords=Java+Persistence+with+Spring+Data+and+Hibernate&qid=1684895947&s=digital-text&sprefix=java+persistence+with+spring+data+and+hibernate%2Cdigital-text%2C251&sr=1-1" target="_blank">Java Persistence with Spring Data and Hibernate</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>