<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Spring Microservice</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn Spring Microservice?
            </h4>
            <p>Learning Spring Microservice is crucial for modern software development as it enables the
               creation of scalable, flexible, and resilient applications. By adopting microservices architecture
               and leveraging Spring's features and tools, developers can build distributed systems that are easily
               maintainable,
               independently deployable, and capable of handling complex business requirements.
            </p>
            <h4>
               Free Course
            </h4>
            <p>
               Programming Techie's Spring microservices class is a great resource for learning about Spring Boot
               microservices. The course provides a comprehensive overview of microservices architecture and
               implementation using Spring Boot. The course covers topics such as service discovery using Spring
               Cloud Netflix Eureka, centralized configuration using Spring Cloud Config Server, and storing secrets
               in Hashicorp Vault
            </p>
            <a href="https://www.youtube.com/watch?v=mPPhcU7oWDU&list=PLSVW22jAG8pBnhAdq9S8BpLnZ0_jVBj0c&index=11&t=5s" target="_blank">Spring Boot Microservice Project Full Course</a>
            <p>
            </p>
            <h4>
               Paid Course
            </h4>
            <p>
               The "Spring Microservices with Spring Boot and Spring Cloud" course on Udemy by 28minutes covers
               a wide range of essential topics for building robust microservices. From designing REST APIs to
               implementing advanced features like fault tolerance, load balancing, and distributed tracing,
               the course offers comprehensive knowledge. It also explores containerization with Docker,
               orchestration with Kubernetes, and centralizing configuration with Spring Cloud. With practical examples
               and best practices, this course equips learners with the skills needed
               to develop scalable and resilient microservices architectures effectively.
            </p>
            <a href="https://www.udemy.com/course/microservices-with-spring-boot-and-spring-cloud/" target="_blank">Master Microservices with Spring Boot and Spring Cloud</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>