<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Spring Unit Testing</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn Spring Unit Testing?
            </h4>
            <p>
               Spring Boot unit testing is crucial for verifying code functionality, detecting bugs early,
               and ensuring maintainability. It provides a safety net for refactoring, promotes code quality,
               and acts as documentation.
               With unit tests, developers can confidently make changes and deliver reliable software.
            </p>
            <h4>
               Free Course
            </h4>
            <p>
               This free YouTube course on Spring Unit Testing is valuable for developers dealing with testing challenges.
               It covers caching, API-less integration testing, and real-world scenarios like database queries,
               reactive components, and message brokers. With Test-driven development and the latest Spring Boot tools,
               it enhances understanding and confidence in unit testing for Spring Boot applications.
            </p>
            <a href="https://www.youtube.com/watch?v=s9vt6UJiHg4" target="_blank">Test Driven Development with Spring Boot</a>
            <p></p>
            <h4>
               Paid Course
            </h4>
            <p>
               Chad Darby's Spring Unit Testing course covers Spring Boot testing, JUnit 5, Mockito, TDD, and
               testing MVC and REST APIs. With responsive instructors, downloadable resources, and high industry demand,
               it's essential for Spring Boot developers. Ideal for offline learning, with downloadable source code and
               PDFs.
            </p>
            <a href="https://www.udemy.com/course/spring-boot-unit-testing/" target="_blank">Spring Boot Unit Testing with JUnit, Mockito and MockMvc</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>