<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Refactoring</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn Refactoring
            </h4>
            <p>
               Learning refactoring is crucial for software developers as it equips them with techniques to transform complex and poorly structured code into clean, maintainable, and efficient code. It improves code quality, enhances readability, reduces bugs, and allows for easier future modifications, making developers more productive and valuable in software development projects.
            </p>
            <h4> Book </h4>
            <p>
               Software developers should read the book "Refactoring" to learn essential techniques for improving the design and maintainability of existing code. By understanding and applying refactoring principles, developers can enhance code quality, increase productivity, and reduce technical debt, resulting in more efficient and robust software systems.
            </p>
            <a href="https://www.amazon.com/Refactoring-Improving-Existing-Addison-Wesley-Signature/dp/0134757599/ref=sr_1_1?crid=1MLGRF3Z8I4NE&keywords=refactoring&qid=1684927076&s=books&sprefix=refactori%2Cstripbooks-intl-ship%2C389&sr=1-1" target="_blank">Refactoring: Improving the Design of Existing Code</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>