<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Design Pattern</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn design pattern?
            </h4>
            <p>
               디자인 패턴은 코드의 재사용성과 유지보수성을 향상시키고, 모듈화된 시스템 설계를 가능하게 합니다. 또한, 팀 내 의사소통을 원활하게 하고 성능 개선에 도움을 줍니다. 디자인 패턴을 이해하고 적용할 수 있는 개발자는 전문성과 기술 경쟁력이 높아집니다. 이로 인해 직업적인 성장과 기술적인 발전이 가능해집니다. 요약하자면, 디자인 패턴은 개발자에게 다양한 이점을 제공하여 효율적이고 유연한 코드 작성과 팀 협업, 성능 개선, 전문성 향상에 도움을 줍니다.                  </p>
            <h4>
               책
            </h4>
            <p>
               "헤드 퍼스트 디자인 패턴"은 쉽고 재미있는 학습 방법으로 디자인 패턴을 소개하는 책입니다. 예제와 그림을 활용하여 개념을 이해하고, 문제 해결에 초점을 둡니다. 또한, 패턴들의 상호작용과 조합을 다루며, 실제 개발 상황에서의 경험과 예제를 제공합니다. 이 책은 개발자에게 디자인 패턴의 즐거움과 실용성을 전달하며, 실무에서 패턴을 적용할 수 있는 능력을 향상시킵니다. 헤드 퍼스트 디자인 패턴은 개발자들에게 디자인 패턴의 이해와 활용을 쉽고 흥미로운 방식으로 제시합니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32473420628?cat_id=50010881&frm=PBOKMOD&query=%ED%97%A4%EB%93%9C%ED%8D%BC%EC%8A%A4%ED%8A%B8+%EB%94%94%EC%9E%90%EC%9D%B8+%ED%8C%A8%ED%84%B4&NaPm=ct%3Dli2hha00%7Cci%3D35a44fb7df107f9146ece05b3325addaa8527fed%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D44b06cbb509b7d276b7daa486b517558d1d9c93c" target="_blank">헤드 퍼스트 디자인 패턴</a>
            <p></p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>