<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">마이크로서비스</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 마이크로서비스를 배워야 하나요?
            </h4>
            <p>
               마이크로서비스 아키텍처를 배우는 이유는 다양합니다. 첫째, 마이크로서비스는 기업의 비즈니스 요구에 더 잘 부응할 수 있는 유연하고 확장 가능한 아키텍처를 제공합니다. 둘째, 각각의 작은 서비스로 구성되기 때문에 독립적인 개발과 배포가 가능하며, 애플리케이션의 유지보수성을 향상시킵니다. 셋째, 개별 서비스의 실패가 전체 시스템에 영향을 미치지 않기 때문에 안정성과 견고성을 강화합니다. 마지막으로, 마이크로서비스 아키텍처는 클라우드 네이티브, DevOps, CI/CD 등의 현대적인 개발 및 운영 방법과 잘 결합되어 현대적인 개발자로 성장하는 데 도움을 줍니다.                  </p>
            <h4> 책 </h4>
            <p>
               "마이크로서비스 도입, 이렇게 한다"는 마이크로서비스 아키텍처를 도입하려는 개발자나 기술 리더들에게 권장되는 책입니다. 이 책은 마이크로서비스 아키텍처의 개념, 장점, 도입 방법, 구현 전략 등을 상세히 설명하며, 실제 프로젝트에서의 도입 사례와 경험을 공유합니다. 또한, 마이크로서비스 아키텍처에서의 테스트, 배포, 모니터링, 운영 등의 주제도 다룹니다. "마이크로서비스 도입, 이렇게 한다"는 마이크로서비스 아키텍처를 적용하고자 하는 개발자나 조직에게 필수적인 가이드로서 도움을 줄 것입니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32485088006?query=%EB%A7%88%EC%9D%B4%ED%81%AC%EB%A1%9C%EC%84%9C%EB%B9%84%EC%8A%A4&NaPm=ct%3Dli2ipfi8%7Cci%3D3056d6d5ccd9e57a4a0a745488966786e11bd4b0%7Ctr%3Dboksl%7Csn%3D95694%7Chk%3Dda21f5997a7b3e02fbba068653a047513643f4bd" target="_blank">마이크로서비스 도입, 이렇게 한다</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>