<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Refactoring</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 리팩토링을 배워야 하나요?
            </h4>
            <p>
               리팩토링은 개발자들에게 여러 이유로 중요합니다. 코드 품질을 향상시키고 버그를 줄이며 생산성을 높이며, 코드베이스를 유지보수하기 쉽게 만들고 전문성을 향상시킵니다. 리팩토링은 코드를 깔끔하게 정리하고 읽기 쉽게 만들며, 시스템의 확장성과 유연성을 향상시킵니다. 또한, 개발자는 리팩토링을 통해 좋은 개발 관행과 디자인 패턴을 익힐 수 있습니다. 리팩토링은 코드의 품질과 개발자의 역량을 향상시키는 필수적인 활동입니다.                  </p>
            <h4> Book </h4>
            <p>
               "리팩토링"은 개발자에게 코드 품질과 생산성을 향상시키는 필수 자원입니다. 이 책은 코드를 개선하고 유지보수하기 쉽도록 변경하는 방법과 기법을 제시합니다. 코드의 가독성과 이해도를 높이고, 재사용성을 높이며, 버그 수정과 시스템 확장을 용이하게 만듭니다. "리팩토링"은 코드 품질을 높이고 유지보수 비용을 줄여주며, 개발자의 프로페셔널리즘과 기술적인 능력을 향상시킵니다. 이 책은 다양한 리팩토링 기법과 실제 적용 사례를 다루며, 개발자에게 코드베이스를 개선하는데 필요한 도구와 기술을 제공합니다. "리팩토링"은 개발자들을 더 나은 코드 작성과 유지보수에 도움을 주는 보물입니다.                  </p>
            <a href="https://smartstore.naver.com/aladinstores/products/7815049344?NaPm=ct%3Dli2hm5xc%7Cci%3De80dc261e951efae4fe97e0d12345561830091df%7Ctr%3Dboknx%7Csn%3D4399901%7Chk%3De171790e58a1c539b277c99e1a763d105a491c69" target="_blank">리팩토링</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>