<!DOCTYPE html>
<html>
<head>
  <title>Backend Developer Roadmap</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Our first page">
  <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <h4>
          Why you should learn Computer Architecture?
        </h4>
        <p>
          Learning computer architecture as a software developer enhances understanding of hardware-software interactions, optimizing code and improving performance. It enables troubleshooting at a low level and empowers informed decision-making for efficient software design aligned with hardware capabilities.
        </p>
        <p>
          Onur Mutlu's computer architecture lecture is highly regarded for its comprehensive coverage of advanced topics in computer architecture, including memory systems and emerging technologies. The lecture requires a solid foundation in computer organization and familiarity with digital logic design, computer architecture principles, and basic programming concepts. It is suitable for students, researchers, and professionals seeking in-depth knowledge and understanding of cutting-edge computer architecture advancements.
        </p>
        <a href="https://www.youtube.com/playlist?list=PL5Q2soXY2Zi97Ya5DEUpMpO2bbAoaG7c6" target="_blank">Digital Design and Computer Architecture</a>>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>