<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Introductory Computer Science</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:replace="fragments/status :: header"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn CS (Computer Science)?
            </h4>
            <p>
               Learning computer science is crucial for software
               developers as it provides a foundation in
               algorithms, data structures, and problem-solving. It equips them with the ability
               to design efficient software, understand operating systems and networks, and adapt
               to new technologies. Computer science enhances their problem-solving skills and
               enables continuous growth in a rapidly evolving field.
            </p>
            <h4>
               CS Introductory course
            </h4>
            <p>
               Crash Course's Computer Science class is an excellent resource for individuals seeking
               a comprehensive understanding of computer science concepts. The course covers a wide
               range of topics, including algorithms, data structures, programming languages,
               and computer architecture. With engaging and concise explanations, interactive visuals,
               and real-world examples, Crash Course provides an accessible and enjoyable
               learning experience. Whether you're a beginner or looking to refresh your knowledge,
               this class offers valuable insights into the fundamental principles of
               computer science.
            </p>
            <a href="https://www.youtube.com/watch?v=tpIctyqH29Q&list=PL8dPuuaLjXtNlUrzyH5r6jN9ulIgZBpdo" target="_blank">Computer Science Crash Courses</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>