<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">AWS</h5>
<!--            <div class="form-check form-switch text-end">-->
<!--               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">-->
<!--               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>-->
<!--            </div>-->
         </div>
         <div class="modal-body">
            <h4>
               왜 AWS를 배워야 하나요?
            </h4>
            <p>
               AWS는 개발자에게 확장성, 비용 효율성, 보안, 글로벌 인프라, DevOps, 산업 수요, 통합성 등 다양한 이점을 제공합니다. AWS를 배우면 현대적인 애플리케이션 개발에 필요한 역량을 향상시킬 수 있습니다. AWS의 다양한 서비스와 플랫폼을 활용하면 개발자는 클라우드 리소스를 유연하게 조정하고 비즈니스 요구에 맞춘 애플리케이션을 구축할 수 있습니다.
            <h4>
               무료 강의
            </h4>
            <p>
               생활코딩의 AWS 강의는 AWS Cloud를 쉽게 배울 수 있는 최고의 학습 자원입니다. 이 강의는 초보자부터 전문가까지 다양한 수준의 개발자를 위해 제작되었습니다. 강의에서는 AWS의 핵심 서비스와 개념을 알기 쉽게 설명하고, 실제 프로젝트를 통해 학습한 내용을 실습할 수 있는 기회를 제공합니다. 실습을 통해 EC2 인스턴스 설정, S3 버킷 생성, Lambda 함수 작성 등을 직접 경험하며 AWS를 실제로 활용하는 방법을 배울 수 있습니다. AWS Cloud의 기본 개념부터 실전 활용까지 폭넓게 다루는 이 생활코딩 강의를 통해 AWS에 대한 전문 지식을 습득하고 클라우드 기술을 활용하여 현대적인 개발자로 성장하세요.            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLuHgQVnccGMC5AYnBg8ffg5utOLwEj4fZ" target="_blank">생활코딩 AWS 강의</a>
            </p>
            <h4>
               유료 강의
            </h4>
            <p>
               Stephane Maarek의 AWS 강의는 SAA-C03 시험 합격을 위한 최신 자료를 제공합니다. 600개 이상의 슬라이드 PDF를 다운로드하여 실제 솔루션 아키텍처 수행에 도움을 받을 수 있습니다. 서버리스, 데이터베이스, 보안 등을 포함한 다양한 주제를 다루며, 실전을 통한 실습과 분석을 제공합니다. 이 강의를 통해 AWS 기술과 인증을 마스터하고 전문성을 향상시킬 수 있습니다.            </p>
            <p>
               <a href="httphttps://www.udemy.com/course/best-aws-certified-solutions-architect-associate/#instructor-1" target="_blank">【한글자막】 AWS Certified Solutions Architect Associate 시험합격!</a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>