<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">쿠버네티스</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 쿠버네티스를 배워야 하나요?
            </h4>
            <p>
               Kubernetes는 개발자에게 클라우드 네이티브 애플리케이션 개발, 스케일링, 자동화, 운영 효율성, 서비스 디스커버리와 모니터링 등 다양한 이점을 제공합니다. 또한, 다양한 클라우드 환경과 호환성을 갖추고 표준화된 플랫폼으로 인더스트리를 이끌고 있습니다. Kubernetes를 배우면 개발자는 현대적인 애플리케이션 개발과 운영에 필수적인 기술을 습득하고 협업과 성장의 기회를 확장할 수 있습니다. Kubernetes를 마스터하여 혁신적인 소프트웨어 개발에 도약하세요.
            </p>
            <h4>
               무료 강의
            </h4>
            <p>
               따배쿠의 쿠버네티스 시리즈 강의는 쿠버네티스에 대한 입문을 위한 강의로, 이성미 강사님이 진행합니다. 강의는 쿠버네티스의 소개부터 설치, 환경 구성, 기본 개념, 명령어 사용법, Pod, Service, Deployment 등을 다룹니다. 이 강의는 따라하면서 쿠버네티스를 배울 수 있도록 구성되어 있습니다. 쿠버네티스에 대한 기초를 효과적으로 습득하고 싶다면 따배쿠의 강의를 추천합니다.
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLApuRlvrZKohaBHvXAOhUD-RxD0uQ3z0c" target="_blank">[따배쿠] 쿠버네티스 시리즈</a>
            </p>
            <h4>
               유료 강의
            </h4>
            <p>
               Maximilian Schwarzmüller의 도커 강의는 Docker와 Kubernetes에 대한 이해와 사용법을 제공합니다. macOS, Windows, Linux 시스템에 Docker를 설치하고 활용하는 방법을 배우며, 이미지 및 컨테이너 생성, 볼륨 관리, 네트워킹 등 다양한 주제를 다룹니다. 또한, 관리형 서비스와 Kubernetes를 활용하여 Docker 애플리케이션을 배포하는 방법을 학습할 수 있습니다. 이 강의를 통해 도커와 Kubernetes를 전문적으로 활용하는 능력을 갖출 수 있습니다.            </p>
            <p>
               <a href="https://www.udemy.com/course/docker-kubernetes-2022/" target="_blank">【한글자막】 Docker & Kubernetes : 실전 가이드 </a>
            </p>
            <h4>
               책
            </h4>
            <p>
               "쿠버네티스 인 액션"은 초보자도 쉽게 이해할 수 있는 방식으로 쿠버네티스를 활용하여 애플리케이션을 개발하고 운영하는 방법을 설명하는 책입니다. 쿠버네티스의 아키텍처와 각 객체의 개념을 명확하게 정리하며, 예제를 통해 실제 적용법을 보여줍니다. 마르코 룩샤(Marko Luksa)가 저술한 이 책은 2020년에 출간되었으며, 쿠버네티스를 시작부터 고급 주제까지 포괄적으로 다루고 있습니다. 쿠버네티스를 활용하여 애플리케이션을 효과적으로 개발하고 운영하고자 하는 개발자에게 이 책을 강력히 추천합니다.
            </p>
            <p>
               <a href="https://search.shopping.naver.com/book/catalog/32444055567?cat_id=50005561&frm=PBOKPRO&query=%EC%BF%A0%EB%B2%84%EB%84%A4%ED%8B%B0%EC%8A%A4+%EC%9D%B8+%EC%95%A1%EC%85%98&NaPm=ct%3Dli9csts0%7Cci%3D400d29a3eb5bde881db239392038da37ff74c887%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D6582c2debd396694cff0b9e07761680400d427ae" target="_blank">쿠버네티스 인 액션</a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>