<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">HTML & CSS</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 HTML & CSS를 배워야 하나요?
            </h4>
            <p>
               Software developers should learn HTML and CSS because they are the foundation of web development,
               essential skills for any web developer,
               help you communicate better with designers, and give you more control over your projects.
            </p>
            <h4>
                  무료 강의
            </h4>
            <p>
               If you're looking for a free course to get started with HTML and CSS,
               I highly recommend Scrimba's HTML & CSS class. This course is designed to be fun and easy to learn,
               and it's a great way to get started with web development.
            </p>
            <p>
               <a href="https://www.youtube.com/watch?v=a_iQb1lnAEQ" target="_blank">Scrimba's HTML & CSS Course</a>
            </p>
            <h4>
               Paid Course
            </h4>
            <p>
               If you don't hesitate to spend money for good HTML and CSS course,
               I would recommend checking out Colt Steele's course on Udemy.
               It's a comprehensive course that covers everything from the basics of
               HTML and CSS to more advanced topics like responsive design and CSS animations.
               Colt Steele is known for his engaging teaching style and his ability to explain
               complex topics in a way that is easy to understand.
            </p>
            <p>
               <a href="https://www.udemy.com/course/html-and-css-bootcamp/html.html" target="_blank">Colt Steele's HTML & CSS Course</a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>