<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">HTML & CSS</h5>
<!--            <div class="form-check form-switch text-end">-->
<!--               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">-->
<!--               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>-->
<!--            </div>-->
         </div>
         <div class="modal-body">
            <h4>
               HTML과 CSS를 왜 배워야 하나요?
            </h4>
            <p>
               HTML과 CSS는 웹 개발에서 가장 기본적인 기술이며, 웹 개발자로서 필수적인 기술입니다. HTML은 웹 페이지의 구조와 내용을 정의하는 마크업 언어이고 CSS는 HTML로 작성된 웹 페이지의 디자인과 레이아웃을 꾸미는 스타일 시트 언어입니다. HTML과 CSS를 배우면 웹 페이지를 만들고 디자인할 수 있습니다. 이러한 이유로 HTML과 CSS를 배우는 것은 매우 중요합니다.
            </p>
            <h4>
               무료 강의
            </h4>
            <p>
               무료 강의를 찾으신다면, 얄팍한 코딩사전의 HTML & CSS 강의는 초보자부터 고급 개발자까지 유용한 무료 강의입니다. HTML과 CSS의 기초부터 고급까지 포괄적으로 다루며, 웹 표준, 레이아웃, CSS 개념, 고급 활용법, 반응형 웹, 접근성 등을 다루고 있습니다. 파이널 프로젝트를 통해 실전 경험도 얻을 수 있습니다.
            </p>
            <p>
               <a href="https://www.youtube.com/watch?v=TrC2x4N0XqY" target="_blank">제대로 파는 HTML & CSS - 웹 퍼블리싱 끝.장.내.기</a>
            </p>
            <h4>
               유료 강의
            </h4>
            <p>
               Colt Steele의 개발자 부트캠프 강의는 웹 개발의 최신 문법과 실무에서 사용되는 CSS 프레임워크에 대한 내용을 포함하고 있습니다. HTML5, CSS3, 모던 자바스크립트를 다루며, Bootstrap 5, Semantic UI, Bulma 등의 CSS 프레임워크 사용법도 학습할 수 있습니다. 또한 정적 HTML과 CSS를 활용하여 포트폴리오 사이트를 만드는 실습도 포함되어 있습니다. 이 강의는 초보 개발자에게 매우 유용한 자료입니다. 모든 강의를 듣는 것은 많은 시간이 걸릴 수 있으므로, 사탕 박물관 프로젝트까지 듣거나 더 욕심이 생기면 터미널 완벽 정리 부분까지 듣는 것을 추천합니다.
            </p>
            <p>
               <a href="https://www.udemy.com/course/the-web-developer-bootcamp-2021-korea/" target="_blank">【한글자막】 The Web Developer 부트캠프 2023</a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script th:src="@{/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>