<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">자바</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               자바를 왜 배워야 하나요?
            </h4>
            <p>
               자바는 다양한 이유로 배우는 것이 좋습니다. 자바는 한국에서 많은 기업에서 사용되고 있어서 취업 시 경쟁력을 높일 수 있습니다. 또한 자바는 객체 지향 언어로서 코드의 재사용성과 유지보수성이 높아서 개발 시간을 단축시킬 수 있습니다. 또한 자바는 안정적인 언어로서 오류가 발생할 확률이 낮아서 안정적인 프로그램을 만들 수 있습니다. 자바를 배우면 다양한 분야에서 활용할 수 있습니다. 예를 들어, 모바일 앱 개발, 게임 개발, 웹 개발 등에서 자바를 사용합니다.
            </p>
            <h4>
               무료 강의
            </h4>
            <p>
               자바 강의는 크게 자바의 정석 혹은 이것이 자바다로 나뉩니다. 사실 두 책간의 우열은 없지만, 자바의 정석과 달리 모든 챕터가 강의로 구성되어 있고 자바의 최신 버전 17을 다루며 교재의 가독성이 높은 이것이 자바다를 더 추천합니다
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLVsNizTWUw7EmX1Y-7tB2EmsK6nu6Q10q" target="_blank">[자바 기초 강의] 이것이 자바다(개정판)</a>
            </p>
            <p>
               "모던 자바 (자바8) 못다한 이야기"는 자바 8 이후의 새로운 기능과 개념인 스트림 API와 람다 표현식 등을 자세히 다루는 케빈 TV의 강의 시리즈입니다. 이 강의는 자바 개발자들이 자바 8의 기능을 보완하고 싶을 때 이용하기에 최적입니다. 스트림 API와 람다 표현식을 효과적으로 활용하여 코드를 더욱 간결하고 명확하게 작성하는 방법을 배울 수 있습니다. 또한 병렬 프로그래밍, 클로저, 메서드 레퍼런스와 같은 고급 주제도 다루고 있습니다. "모던 자바 (자바8) 못다한 이야기"는 자바 개발자들에게 꼭 필요한 강의로, 자바 8 이후의 새로운 기능을 활용하여 더욱 효율적인 개발을 할 수 있게 도와줍니다.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLRIMoAKN8c6O8_VHOyBOhzBCeN7ShyJ27" target="_blank">모던 자바 (자바 8) - 못다한 이야기</a>
            <p></p>
            <h4>
               책
            </h4>
            <p>
               "이것이 자바다"는 2022년 출간된 베스트셀러 교재로, 자바를 배우려는 사람들에게 많은 사랑을 받았습니다. 이번 개정판은 Java 8에서 최신 Java 17 LTS 버전까지 업데이트되었으며, 708개의 실전 예제를 통해 이론을 코드로 직접 실행하며 학습할 수 있습니다. 입문자부터 현직 개발자까지 평가가 높은 이 책은 자바를 정복하는데 도움을 줄 것입니다.
            </p>
            <p>
               <a href="https://search.shopping.naver.com/book/catalog/34238594620?cat_id=50010920&frm=PBOKPRO&query=%EC%9D%B4%EA%B2%83%EC%9D%B4+%EC%9E%90%EB%B0%94%EB%8B%A4&NaPm=ct%3Dli1pkbrc%7Cci%3D4306fe44a4a730b9c9070696c5c0d86b86bf0a46%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3Dc99c81e1e3c98ccc5756ed087585ba04d2909fb9" target="_blank">이것이 자바다</a>
            </p>
            <p></p>
            <p>
               "모던 자바 인 액션"은 자바 8 이후의 모던 자바 개발을 위한 필수 도서입니다. 이 책은 기존의 자바 코드를 그대로 활용하면서도 새로운 기능, 문법, 디자인 패턴을 활용하여 명확하고 간결한 코드를 작성할 수 있는 방법을 소개합니다. 자바 8의 람다식, 스트림 API, CompletableFuture 등 함수형 프로그래밍과 동시성 프로그래밍에 대한 개념과 활용법을 상세히 설명하여, 개발자들이 더 효율적이고 유연한 자바 개발을 할 수 있도록 도와줍니다. 이 책은 자바 8 이후의 기능들을 활용하여 코드의 품질과 생산성을 향상시키고자 하는 개발자들에게 강력한 도움이 될 것입니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32466988102?cat_id=50010920&frm=PBOKPRO&query=%EB%AA%A8%EB%8D%98+%EC%9E%90%EB%B0%94+%EC%9D%B8+%EC%95%A1%EC%85%98&NaPm=ct%3Dli2gx4ow%7Cci%3D021d9f35bccb0ff654c8371780ac520a936a50cd%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D6d242ff122cb2762cbcf058b6fb5ef306bd92e75" target="_blank">모던 자바 인 액션</a>
            <p></p>
            <p>
               "이펙티브 자바"는 자바 개발자가 꼭 읽어야 하는 독서입니다. 이 책은 자바 개발에서 효율성, 안정성, 유지보수성 등 전반적인 측면에서 우수한 코드를 작성하는 방법을 가르쳐줍니다. 책은 90가지 이상의 핵심 아이템을 다루며, 각 아이템은 명확한 설명과 실제 상황에서의 예시 코드를 제공합니다. 이를 통해 개발자는 자바의 주요 기능과 관련된 좋은 습관과 패턴을 습득하고, 오류를 방지하고 성능을 최적화할 수 있습니다. "이펙티브 자바"는 자바 개발자들의 실력 향상과 전문성 강화에 큰 도움을 주는 필독서입니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32436239326?cat_id=50010920&frm=PBOKMOD&query=%EC%9D%B4%ED%8E%99%ED%8B%B0%EB%B8%8C+%EC%9E%90%EB%B0%94&NaPm=ct%3Dli2h0zkw%7Cci%3D73562dae0633b9251b8b58a0499eb0acecf6f75c%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D779c00948654ecca1a6d2638c7e9a4f294875068">이펙티브 자바</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>