<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">JPA</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 JPA를 배워야 하나요?
            </h4>
            <p>
               JPA(Java Persistence API)는 자바 진영의 ORM(Object-Relational Mapping) 기술 표준입니다. JPA가 제공하는 API를 사용하면 객체를 DB에 저장하고 관리할 때, 개발자가 직접 SQL을 작성하지 않아도 됩니다. JPA가 개발자 대신 적절한 SQL을 생성해서 DB에 전달하고, 객체를 자동으로 Mapping 해줍니다. 이러한 이유로 JPA를 사용하면 생산성이 높아지며 지루하고 반복적인 일을 JPA가 대신 처리해줍니다.
            </p>
            <h4>
               무료 강의
            </h4>
            <p>
               김영한 강사님이 T 아카데미에서 진행한 JPA 프로그래밍 기본기 다지기 강의는 JPA에 대한 입문 강의입니다. 하지만 이 강의만으로는 충분하지 않을 수 있으므로, 이 강의를 듣고 나서 김영한 강사님의 JPA 책이나 로드맵, 그리고 앞서 추천한 in28Minutes의 스프링 강의 중 JPA 부분을 추가로 학습하는 것을 추천합니다.
            </p>
            <a href="https://www.youtube.com/playlist?list=PL9mhQYIlKEhfpMVndI23RwWTL9-VL-B7U" target="_blank">토크ON 41차. JPA 프로그래밍 기본기 다지기 | T아카데미</a>
            <p></p>
            <h4>
               유료 강의
            </h4>
            <p>
               김영한 강사님의 JPA 강의 로드맵은 자바 ORM 표준인 JPA를 효과적으로 학습할 수 있는 방법을 제시합니다. 이 강의에서는 JPA를 사용하여 객체와 관계형 데이터베이스를 연결하는 방법부터 복잡한 매핑과 상속 구조까지 다루며, 스프링 부트와 JPA를 조합하여 웹 애플리케이션을 개발하는 방법과 API 개발, 성능 최적화에 대해 학습합니다. 또한 스프링 데이터 JPA를 활용하여 개발 생산성을 높이는 방법과 실무에서의 활용법을 배우며, 김영한 강사님의 실무 노하우를 전달합니다. 이를 통해 JPA를 마스터하고 실무에서 자신감을 가질 수 있습니다.
            </p>
            <a href="https://www.inflearn.com/roadmaps/149" target="_blank">김영한의 스프링 부트와 JPA 실무 완전 정복 로드맵</a>
            <p></p>
            <h4>
               책
            </h4>
            <p>
               "자바 ORM 표준 JPA 프로그래밍" 책은 SQL 작성 없이 객체를 데이터베이스에 직접 저장할 수 있게 도와주고, 객체와 관계형 데이터베이스의 차이도 중간에서 해결해줍니다. 이 책은 JPA 기초 이론과 핵심 원리, 그리고 실무에 필요한 성능 최적화 방법까지 JPA에 대한 모든 것을 다루며, 스프링 프레임워크와 JPA를 함께 사용하는 방법을 설명하고 있습니다. 또한, 스프링 데이터 JPA, QueryDSL 같은 혁신적인 오픈 소스를 활용해서 자바 웹 애플리케이션을 효과적으로 개발하는 방법을 다루고 있습니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32436007738?query=%EA%B9%80%EC%98%81%ED%95%9C%20jpa&NaPm=ct%3Dli1rmw68%7Cci%3D12b3e90d5b1984f88b0f89c6b73b51d9b083b8a3%7Ctr%3Dboksl%7Csn%3D95694%7Chk%3D5336b1feb7ae7a7fdb90a7fd337f21faa012e77f" target="_blank">자바 ORM 표준 JPA 프로그래밍</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>