<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Spring Microservice</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
               <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               왜 스프링 마이크로서비스에 대해서 배워야 하나요?
            </h4>
            <p>
               스프링 마이크로서비스는 스프링 프레임워크를 기반으로 한 마이크로서비스 아키텍처를 구현하는 방법을 다루는 것입니다. 마이크로서비스 아키텍처는 애플리케이션을 작은 서비스 단위로 분할하여 개발하고 배포하는 방식입니다. 이 방식은 애플리케이션의 유연성과 확장성을 높일 수 있습니다. 스프링 마이크로서비스는 스프링 부트와 스프링 클라우드를 사용하여 마이크로서비스를 구현하는 방법을 다룹니다.
            </p>
            <h4>
               무료 강의
            </h4>
            <p>
               토크ON세미나에서는 스프링 클라우드를 활용한 마이크로서비스 아키텍처 구현 방법에 대해 다루는 강좌를 제공합니다. 이 강좌는 스프링 프레임워크에 대한 기본적인 이해가 있다면 수강할 수 있으며, 스프링 클라우드의 주요 기능과 구성 요소를 다룹니다.
            </p>
            <a href="https://www.youtube.com/watch?v=D6drzNZWs-Y&list=PL7MN42ErSAgYCFnwb6QQaQ4y1OzLeaP9G" target="_blank">Spring Cloud를 활용한 MSA 기초</a>
            <p>
            </p>
            <h4>
               유료 강의
            </h4>
            <p>
               Dowon Lee 강사님이 제공하는 Spring Cloud 강의는 Spring Cloud의 제품군을 이용하여 마이크로서비스 애플리케이션을 개발하고 운영환경을 구축하는 방법에 대해 학습할 수 있는 강의입니다. 이 강의에서는 Gateway, Service Mesh, Runtime 등으로 구성하는 Microservice Architecture를 구성하는 방법과 운영을 위해 빌드하고 배포하는 과정에 대해서도 학습할 수 있습니다. 이 강의를 수강하면 기본적인 Microservice Architecture의 이해와 Java의 통합 개발환경인 IntelliJ를 이용하여 Spring Boot, Spring Cloud 애플리케이션을 개발하실 수 있고, 로컬 환경과 컨테이너 가상화에 배포하여 운영하는 방법에 대해서 실습하실 수 있습니다.
            </p>
            <a href="https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%ED%81%B4%EB%9D%BC%EC%9A%B0%EB%93%9C-%EB%A7%88%EC%9D%B4%ED%81%AC%EB%A1%9C%EC%84%9C%EB%B9%84%EC%8A%A4#curriculum" target="_blank">Spring Cloud로 개발하는 마이크로서비스 애플리케이션(MSA)</a>
            <p></p>
            <h4>
               책
            </h4>
            <p>
               『스프링 마이크로서비스 코딩 공작소』는 스프링 부트와 스프링 클라우드를 활용하여 모범 사례를 실습하며 마이크로서비스 개념을 습득할 수 있는 책입니다. 이론과 실습이 탄탄하게 구성되어 있으며, 스프링 클라우드를 활용하여 마이크로서비스의 빌드와 배포를 최소화합니다. 책은 스프링 부트, 스프링 클라우드, 도커, 하시코프 볼트, 아파치 카프카, 키클록, 오픈 집킨, ELK 스택, 그라파나, 프로메테우스, AWS EKS, 깃허브/젠킨스 등을 다룹니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/33084045623?cat_id=50010920&frm=PBOKPRO&query=%EC%8A%A4%ED%94%84%EB%A7%81+%EB%A7%88%EC%9D%B4%ED%81%AC%EB%A1%9C%EC%84%9C%EB%B9%84%EC%8A%A4+%EC%BD%94%EB%94%A9+%EA%B3%B5%EC%9E%91%EC%86%8C%5C&NaPm=ct%3Dli1tj0c0%7Cci%3D618e376195e506118acf6bb39efdca976a7d286e%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D46efe1b0a14e87810c528f7b88944495991f4a03" target="_blank">스프링 마이크로서비스 코딩 공작소</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>