<!--used gpt4-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Modal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Java Roadmap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/guide}">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact me</a>
                </li>
<!--                <li class="nav-test">-->
<!--                    <a class="nav-link" th:href="@{/world}">Test</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <h1 class="display-4">Java Backend Developer</h1>
            <p class="lead">Step by step guide to become a modern java backend developer in 2023</p>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-4">
            <form method="GET" action="/api/download">
                <button class="btn btn-lg btn-success" type="submit">Download pdf</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-3">
            <h3>Language</h3>
            <!-- Html modal trigger -->
            <section class="bg-light">
                <button type="button" class="btn btn-primary btn-lg btn-block mb-3" data-toggle="modal" data-target="#html-modal">
                    HTML
                </button>
                <th:block th:replace="Language/HTML :: modal('html-modal')">modal</th:block>
            </section>
        </div>
        <div class="col-md-3">
            <h3>Computer Science</h3>
            <!-- CS Crash Course modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#crash-modal">
                        CS Crash Course </button>
                </div>
                <th:block th:replace="CS/Crash :: modal('crash-modal')">modal</th:block>
            </section>
        </div>
        <div class="col-md-3">
            <h3>Additional Resources</h3>
            <!-- Overview of Programming modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#overview-modal">
                        Overview of Programming </button>
                </div>
                <th:block th:replace="Additional/Overview :: modal('overview-modal')">modal</th:block>
            </section>
        </div>
    </div>
</div>
<footer>
    <div class="text-center">
        <a href="https://www.buymeacoffee.com/kjavaman12"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=kjavaman12&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>