<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CS50</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn CS50?
            </h4>
            <p>
               CS50 is an introductory computer science course offered by Harvard University.
               It covers fundamental concepts such as algorithms, data structures, programming languages,
               and problem-solving techniques. Software developers should learn CS50 because
               it provides a strong foundation in computer science principles and practices.
               It enhances critical thinking and problem-solving skills, fosters a deep understanding of
               programming languages, and introduces students to various programming paradigms.
               CS50's interactive and engaging approach, coupled with its supportive online community,
               empowers developers to tackle complex software development challenges with confidence and creativity.
               It sets the stage for lifelong learning and growth in the field of computer science.
            </p>
            <a href="https://www.youtube.com/playlist?list=PL7cmIFofq7xHOKUpuU66uYiXanbD9Mp-O" target="_blank">CS50</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>