<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CS Interview Preparation</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:text="#{modal.status}"></label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               컴퓨터 과학 인터뷰 질문 모음
            </h4>
            <p>
               이 깃허브 저장소들은 백엔드 개발자로 입사를 준비하며 받았던 질문, 예상했던 질문, 인터넷 참고한 질문 등을 모아놓은 저장소들입니다. 이 저장소는 백엔드 개발자로 입사 준비를 하는 분들에게 도움이 될 수 있습니다
            </p>
            <a href="https://github.com/gyoogle/tech-interview-for-developer" target="_blank">gyoogle/tech-interview-for-developer</a>
            <p></p>
            <a href="https://github.com/ksundong/backend-interview-question" target="_blank">ksundong/backend-interview-question</a>
            <hr>
            <h4>
               코딩 테스트 대비
            </h4>
            <p>
               이전에도 언급했다싶이 이코테 2021 이것이 취업을 위한 코딩 테스트다 with 파이썬 강의는 취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드입니다. 이 강의는 파이썬을 사용하여 알고리즘과 자료구조를 배울 수 있도록 구성되어 있습니다. 또한 이 강의는 실제 출제 경향을 파악해 핵심만 파악할 수 있도록 다양한 예제와 문제를 제공합니다.
            </p>
            <a href="https://www.youtube.com/playlist?list=PLRx0vPvlEmdAghTr5mXQxGpHjWqSz0dgC" target="_blank">(이코테 2021) 이것이 취업을 위한 코딩 테스트다 with 파이썬</a>
            <p></p>
            <p>
               코딩 테스트를 대비하기 위한 책으로는 위의 강의를 다루는 책인 "2021 이것이 취업을 위한 코딩 테스트다 with 파이썬"을 추천합니다.
            </p>
            <a href="https://search.shopping.naver.com/book/catalog/32441237189?cat_id=50010920&frm=PBOKPRO&query=%EC%9D%B4%EA%B2%83%EC%9D%B4+%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8%EB%8B%A4&NaPm=ct%3Dli2dmboo%7Cci%3D13f840000369af20bdfdc158e6e8308b596f1bc6%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D495cfb32a1ad719bb5cd2fc66411b8af2724729b" target="_blank">이것이 취업을 위한 코딩 테스트다 with 파이썬</a>
            <p></p>
            <p>
               더 많은 문제를 풀어보고 싶으시다면 프로그래머스와 백준은 코딩테스트 대비를 위한 문제집을 제공합니다. 이 문제들은 코딩테스트를 준비하는 데 도움이 되는 다양한 문제를 제공합니다. 또한 이 문제들은 실제 출제 경향을 파악해 핵심만 파악할 수 있도록 다양한 예제와 문제를 제공합니다.
            </p>
            <a href="https://www.acmicpc.net/" target="_blank">백준</a>
            <p></p>
            <a href="https://programmers.co.kr/" target="_blank">프로그래머스</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>