<!DOCTYPE html>
<html>
<head>
  <title>Backend Developer Roadmap</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Our first page">
  <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NAND2TETRIS</h5>
        <div class="form-check form-switch text-end">
          <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
          <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
        </div>
      </div>
      <div class="modal-body">
        <h4>
          Why you should learn NAND2TETRIS?
        </h4>
        <p>
          NAND2TETRIS is a unique course that takes learners through the process of building a complete computer system, starting from basic logic gates to a working software platform. Software developers should learn NAND2TETRIS to gain a deep understanding of computer architecture, low-level programming, and the design principles behind building efficient and optimized software systems. It provides hands-on experience and fosters a holistic perspective on computer systems, enhancing problem-solving skills and promoting a deeper appreciation for software development.
        </p>
        <a href="https://www.coursera.org/learn/build-a-computer" target="_blank">NAND2TETRIS First Part</a>
        <p></p>
        <a href="https://www.coursera.org/learn/nand2tetris2" target="_blank">NAND2TETRIS Second Part</a>
        <h4>
          Book
        </h4>
        <p>
          <a href="https://www.amazon.com/Elements-Computing-Systems-second-Principles/dp/0262539802/ref=d_pd_sbs_vft_none_sccl_2_6/145-4902088-3393704?pd_rd_w=WeUDL&content-id=amzn1.sym.3676f086-9496-4fd7-8490-77cf7f43f846&pf_rd_p=3676f086-9496-4fd7-8490-77cf7f43f846&pf_rd_r=CJE1EEDVSNQ1SM86Z77V&pd_rd_wg=eLbHq&pd_rd_r=fcebd800-2b17-4799-974c-ec554304cfff&pd_rd_i=0262539802&psc=1" target="_blank">The Elements of Computing Systems, second edition: Building a Modern Computer from First Principles </a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>