<!DOCTYPE html>
<html>
<head>
    <title>Backend Developer Roadmap</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Network</h5>
                <div class="form-check form-switch text-end">
                    <input class="form-check-input" type="checkbox" th:id="'switch' + ${id}" th:checked="${state}" onchange="this.form.submit()">
                    <label class="form-check-label" th:for="'switch' + ${id}" th:text="#{modal.status}"></label>
                </div>
            </div>
            <div class="modal-body">
                <h4>
                    왜 네트워크를 공부해야 하나요?
                </h4>
                <p>
                    개발자가 네트워크를 공부해야 하는 이유는 여러 가지가 있습니다. 첫째, 현대의 애플리케이션은 네트워크를 기반으로 동작하며, 클라이언트-서버 모델이 일반적입니다. 네트워크 이해는 애플리케이션의 설계와 개발에 필수적입니다. 둘째, 보안과 성능 최적화를 위해서도 네트워크 이해가 필요합니다. 악성 공격 방어, 데이터 암호화, 네트워크 트래픽 최적화 등의 작업은 개발자에게 요구됩니다. 셋째, 클라우드 컴퓨팅과 인터넷 기술의 발전으로 인해 네트워크는 더욱 중요해졌습니다. 개발자는 클라우드 환경에서의 애플리케이션 배포, 스케일링, 로드 밸런싱 등을 이해하고 구현할 수 있어야 합니다. 네트워크 공부는 개발자의 역량을 향상시키고 다양한 분야에서 활약할 수 있는 기반을 제공합니다.
                </p>
                <h4>
                    무료 강의
                </h4>
                <p>
                    이석복 교수님은 한양대학교에서 컴퓨터 네트워크 강의를 진행하시는 교수님입니다. 이 교수님의 강의는 네트워크 계층을 Top-Down 방식으로 위에서부터 한 겹씩 까보면서 디테일하게 알아보는 강의입니다 이 강의는 컴퓨터 네트워크를 처음 접하는 학생들도 쉽게 이해할 수 있도록 구성되어 있습니다
                </p>
                <a href="http://www.kocw.or.kr/home/cview.do?mty=p&kemId=1279590&ar=relateCourse" target="_blank">컴퓨터네트워크 - 이석복 교수님</a>
                <p></p>
                <h4>
                    책
                </h4>
                <p>
                    《컴퓨터 네트워킹 하향식 접근》은 개발자들에게 네트워크 이해와 역량을 향상시키기 위한 필수 도서입니다. 이 책은 네트워크의 핵심 개념과 원리를 자세히 설명하여 개발자들이 네트워크를 종합적으로 이해할 수 있도록 돕습니다. 네트워크 계층 구조, 프로토콜, 라우팅, 스위칭 등에 대한 깊은 이해를 제공하며, 실제 네트워크 환경에서의 문제 해결과 디버깅에 큰 도움이 됩니다. 또한 애플리케이션과 네트워크 간의 상호작용, 데이터 전송 원리 등을 학습하여 애플리케이션 개발과 관련된 네트워크 이슈에 대응할 수 있습니다. 이 책은 개발자들이 다양한 프로젝트와 도전에 대비하고 네트워크 관련 역량을 향상시키는 데 도움을 주는 실용적인 가이드입니다.
                </p>
                <a href="https://search.shopping.naver.com/book/catalog/34271347619?cat_id=50010921&frm=PBOKPRO&query=%EC%BB%B4%ED%93%A8%ED%84%B0+%EB%84%A4%ED%8A%B8%EC%9B%8C%ED%82%B9+%ED%95%98%ED%96%A5%EC%8B%9D&NaPm=ct%3Dli2fc3g8%7Cci%3Dd5661ab5500060cb36dd9b171380e04c2cf5910c%7Ctr%3Dboknx%7Csn%3D95694%7Chk%3D0f11d5a1ed775e50dafd70131a7c530dd5e86f0d" target="_blank">컴퓨터 네트워킹 하향식 접근</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>