<!--used gpt4-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Java Roadmap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{nav.title}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/guide}" th:text="#{nav.guide}"></a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='en', redirect=${#httpServletRequest.getRequestURI()})}" th:text="#{language.en}"></a>
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='ko', redirect=${#httpServletRequest.getRequestURI()})}" th:text="#{language.ko}"></a>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <h1 class="display-4" th:text="#{title.name}">Java Backend Developer</h1>
            <p class="lead" th:text="#{sub-title.name}"></p>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-4">
            <form method="GET" action="/api/download">
                <button class="btn btn-lg btn-success" type="submit" th:text="#{download}"></button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-3">
            <h3 th:text="#{subject.must-have}"></h3>
            <!-- HTML & CSS modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#html-modal" th:text="#{button.must-have.html}">
                         </button>
                    <th:block th:replace="${#locale.language + '/must-have/html'} :: modal('html-modal')">modal</th:block>
                </div>
            </section>
            <!-- Java modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#java-modal" th:text="#{button.must-have.java}">
                         </button>
                    <th:block th:replace="must-have/java :: modal('java-modal')">modal</th:block>
                </div>
            </section>
            <!-- Mysql modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#mysql-modal" th:text="#{button.must-have.mysql}">
                         </button>
                    <th:block th:replace="must-have/mysql :: modal('mysql-modal')">modal</th:block>
                </div>
            </section>
            <!-- Spring modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#spring-modal" th:text="#{button.must-have.spring}">
                         </button>
                    <th:block th:replace="must-have/spring :: modal('spring-modal')">modal</th:block>
                </div>
            </section>
            <!-- JPA modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#jpa-modal" th:text="#{button.must-have.jpa}">
                         </button>
                    <th:block th:replace="must-have/jpa :: modal('jpa-modal')">modal</th:block>
                </div>
            </section>
            <!-- Spring Security modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#security-modal" th:text="#{button.must-have.spring.security}">
                          </button>
                    <th:block th:replace="must-have/spring-security :: modal('security-modal')">modal</th:block>
                </div>
            </section>
            <!-- Spring Boot Unit Testing modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#test-modal" th:text="#{button.must-have.spring.test}">
                         </button>
                    <th:block th:replace="must-have/spring-unit-testing :: modal('test-modal')">modal</th:block>
                </div>
            </section>
            <!-- Spring Microservice modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#spring-microservice-modal" th:text="#{button.must-have.spring.microservice}">
                         </button>
                    <th:block th:replace="must-have/spring-microservice :: modal('spring-microservice-modal')">modal</th:block>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <h3 th:text="#{subject.important}"></h3>
            <!-- Overview of Programming modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#overview-modal" th:text="#{button.important.overview}">
                         </button>
                </div>
                <th:block th:replace="important/overview :: modal('overview-modal')">modal</th:block>
            </section>
            <!-- Git modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#git-modal" th:text="#{button.important.git}">
                         </button>
                </div>
                <th:block th:replace="important/git :: modal('git-modal')">modal</th:block>
            </section>
            <!-- AWS modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#aws-modal" th:text="#{button.important.aws}">
                         </button>
                </div>
                <th:block th:replace="important/aws :: modal('aws-modal')">modal</th:block>
            </section>
            <!-- Linux modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#linux-modal" th:text="#{button.important.linux}">
                         </button>
                </div>
                <th:block th:replace="important/linux :: modal('linux-modal')">modal</th:block>
            </section>
            <!-- Docker modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#docker-modal" th:text="#{button.important.docker}">
                        Docker </button>
                </div>
                <th:block th:replace="important/docker :: modal('docker-modal')">modal</th:block>
            </section>
            <!-- Kubernetes modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-warning btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#kubernetes-modal" th:text="#{button.important.kubernetes}">
                         </button>
                </div>
                <th:block th:replace="important/kubernetes :: modal('kubernetes-modal')">modal</th:block>
            </section>

        </div>
        <div class="col-md-3">
            <h3 th:text="#{subject.cs}"></h3>
            <!-- CS Crash Course modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#crash-modal" th:text="#{button.cs.crash}">
                         </button>
                </div>
                <th:block th:replace="cs/crash :: modal('crash-modal')">modal</th:block>
            </section>
            <!-- CS50 -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#cs50-modal" th:text="#{button.cs.cs50}">
                         </button>
                </div>
                <th:block th:replace="cs/cs50 :: modal('cs50-modal')">modal</th:block>
            </section>
            <!-- DSA -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#dsa-modal" th:text="#{button.cs.dsa}">
                         </button>
                </div>
                <th:block th:replace="cs/dsa :: modal('dsa-modal')">modal</th:block>
            </section>
            <!--NAND2TETRIS-->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#nand-modal" th:text="#{button.cs.nand}">
                         </button>
                </div>
                <th:block th:replace="cs/nand :: modal('nand-modal')">modal</th:block>
            </section>
            <!--Computer Architecture-->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#ca-modal" th:text="#{button.cs.ca}">
                        </button>
                </div>
                <th:block th:replace="cs/ca :: modal('ca-modal')">modal</th:block>
            </section>
            <!--Operating System-->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#os-modal" th:text="#{button.cs.os}">
                       </button>
                </div>
                <th:block th:replace="cs/os :: modal('os-modal')">modal</th:block>
            </section>
            <!--Database-->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#db-modal" th:text="#{button.cs.db}">
                        </button>
                </div>
                <th:block th:replace="cs/db :: modal('db-modal')">modal</th:block>
            </section>
            <!--Network-->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#net-modal" th:text="#{button.cs.net}">
                          </button>
                </div>
                <th:block th:replace="cs/net :: modal('net-modal')">modal</th:block>
            </section>
            <!-- interview -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#interview-modal" th:text="#{button.cs.interview}">
                         </button>
                </div>
                <th:block th:replace="cs/interview :: modal('interview-modal')">modal</th:block>
            </section>
        </div>
        <div class="col-md-3">
            <h3 th:text="#{subject.better}"></h3>
            <!-- Object Oriented Programming modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#oop-modal" th:text="#{button.better.oop}">
                         </button>
                </div>
                <th:block th:replace="addtional/oop :: modal('oop-modal')">modal</th:block>
            </section>
            <!-- Clean Code modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#clean-code-modal" th:text="#{button.better.clean-code}">
                         </button>
                </div>
                <th:block th:replace="addtional/clean-code :: modal('clean-code-modal')">modal</th:block>
            </section>
            <!-- Design Pattern modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#design-pattern-modal" th:text="#{button.better.design-pattern}">
                         </button>
                </div>
                <th:block th:replace="addtional/design-pattern :: modal('design-pattern-modal')">modal</th:block>
            </section>
            <!-- Refactoring modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#refactoring-modal" th:text="#{button.better.refactoring}">
                         </button>
                </div>
                <th:block th:replace="addtional/refactoring :: modal('refactoring-modal')">modal</th:block>
            </section>
            <!-- System Design modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#system-design-modal" th:text="#{button.better.system-design}">
                         </button>
                </div>
                <th:block th:replace="addtional/system-design :: modal('system-design-modal')">modal</th:block>
            </section>
            <!-- TDD modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#unit-testing-modal" th:text="#{button.better.tdd}">
                         </button>
                </div>
                <th:block th:replace="addtional/unit-testing :: modal('unit-testing-modal')">modal</th:block>
            </section>
            <!-- Microservice modal trigger -->
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#microservice-modal" th:text="#{button.better.microservice}">
                         </button>
                </div>
                <th:block th:replace="addtional/microservice :: modal('microservice-modal')">modal</th:block>
            </section>

        </div>
    </div>
</div>
</div>
<hr>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>About me</h4>
                    <p> I'm a passionate 24-year-old Java backend developer skilled in JAVA, Spring Boot. Join me on my journey, support my growth, and let's create innovative applications together! </p>
                </div>
                <div class="col-md-4">
                    <h4>Follow me</h4>
                    <ul class="social-icon">
                        <li><a href="https://twitter.com/KJavaman"><img src="https://i.pinimg.com/564x/62/6e/cc/626ecc149649ec8ddb5853e12d87625c.jpg" ></img></a></li>
                        <li><a href="https://www.linkedin.com/in/yeachan-shin-276074261/"><img src="https://i.pinimg.com/564x/b0/28/c2/b028c2e59043116dfc0da6ec6fd26d70.jpg" ></img></a></li>
                        <li><a href="https://github.com/k-javaman"><img src="https://i.pinimg.com/564x/3a/64/71/3a64716dc68d3a2fd08381f697e77e7d.jpg" ></img></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="text-center">
            <a href="https://www.buymeacoffee.com/kjavaman12"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=kjavaman12&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
        </div>
    </div>
</footer>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>