<!--used gpt4-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Java Roadmap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{nav.title}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/guide}" th:text="#{nav.guide}"></a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='en')}" th:text="#{language.en}"></a>
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='ko')}" th:text="#{language.ko}"></a>
            </div>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4 text-center">왜 이 사이트가 만들어졌나요?</h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                When I started my journey to become a Java backend developer six months ago, I found a plenty of roadmaps for frontend such as JavaScript, but the resources for aspiring Java developers were sparse. This made the initiation process somewhat confusing and challenging for many beginners, including me.
            </p>
            <p class="lead">
                Even though I've been learning Java for just half a year and am still navigating my way through, I decided to create this website. It is a reflection of the roadmap I'm following in my learning process. It might not be exhaustive, but my hope is that it can be a helpful starting point for others on a similar journey.
            </p>
            <p class="lead">
                Please bear in mind that I'm still learning. If you find any errors or have suggestions to improve this roadmap, feel free to contact me!
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="my-4 text-center">How To Use This Roadmap</h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                The "MUST-HAVE" section represents essential knowledge that is crucial for becoming a proficient Java developer. These are the fundamental topics that you must learn.
            </p>
            <p class="lead">
                The "Important" section includes topics that are valuable to learn, but they can be studied when the need arises. You may not need to delve into these topics immediately, but eventually, it is recommended to cover them.            </p>
            <p class="lead">
                The "Computer Science" section provides a strong foundation in computer science principles. Understanding these concepts can greatly enhance your understanding of programming.            </p>
            <p class="lead">
                The "Better Code Quality" section offers techniques and practices that help improve the quality and maintainability of your code. These guidelines contribute to writing cleaner and more efficient code.
            </p>
        </div>
    </div>
</div>
</body>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>
