<!--used gpt4-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Java Roadmap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/en/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{nav.title}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/guide}" th:text="#{nav.guide}"></a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='en', redirect=${#httpServletRequest.getRequestURI()})}" th:text="#{language.en}"></a>
                <a class="dropdown-item" th:href="@{/changeLanguage(lang='ko', redirect=${#httpServletRequest.getRequestURI()})}" th:text="#{language.ko}"></a>
            </div>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4 text-center">이 사이트는 왜 만들어졌나요?</h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                저는 6개월 전에 Java 백엔드 개발자가 되기 위한 여정을 시작했습니다. 그 때 제가 알게 된 것은 JavaScript 같은 프론트엔드에 대한 로드맵이 많이 있지만, Java 개발자가 되기 위한 로드맵은 그다지 많지 않았다는 것이었습니다. 이로 인해 처음에 어떻게 자바를 공부해야할 지 매우 혼란스러웠습니다.
            </p>
            <p class="lead">
                저는 아직 Java를 공부한 지 반년이 지나고 있고 여전히 공부중이지만, 이 웹사이트를 만들기로 결정했습니다. 이 사이트는 제가 공부한 것들, 공부할 것들 정리한 것을 따르고 있는 로드맵을 반영한 것입니다.자바 백엔드 개발자가 되기 위한 모든 것을 포함하고 있지는 않지만, 비슷한 처지에 있는 다른 사람들에게 도움이 될 수 있기를 바랍니다.
            </p>
            <p class="lead">
                저도 아직 매우 부족하기 때문에, 만약 오류를 발견하거나 이 로드맵을 개선할 제안이 있다면,링크드인에 있는 저에게 연락해 주세요!
            </p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="my-4 text-center">이 로드맵 사용법</h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                "필수" 섹션은 Java 개발자가 되기 위한 필수적인 지식을 나타냅니다. 이것들은 자바 백엔드 개발자가 되기 위해서 반드시 배워야 하는 기본적인 주제들입니다.
            </p>
            <p class="lead">
                "중요" 섹션에는 배우는 것이 중요한 주제들이 포함되어 있지만, 필요할 때 학습할 수 있습니다. 당장 이 주제들을 깊게 공부할 필요는 없지만, 결국 이들을 커버하는 것이 권장됩니다.
            </p>
            <p class="lead">
                "컴퓨터 과학" 섹션은 컴퓨터 과학 원리에 대한 강력한 기반을 제공합니다. 이러한 개념들을 이해하면 프로그래밍에 대한 이해를 크게 향상시킬 수 있습니다.
            </p>
            <p class="lead">
                "더 나을 개발을 위해" 섹션은 코드의 품질과 유지 관리성을 향상시키는 기법과 실천 사례를 제공합니다. 이러한 가이드라인은 더 깔끔하고 효율적인 코드를 작성하는 데 기여합니다.
            </p>
        </div>
    </div>
    <!-- Social share buttons -->
    <div class="share-btn-container">
        <a th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${url}}" target="_blank" class="share-btn">
            <i class="fab fa-facebook"></i>
        </a>
        <a th:href="@{'https://twitter.com/intent/tweet?url=' + ${url}}" target="_blank" class="share-btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a th:href="@{'https://www.reddit.com/r/subreddit/submit?selftext=true&title=PostTitle&text=' + ${url}}" target="_blank" class="share-btn">
            <i class="fab fa-reddit"></i>
        </a>
        <a th:href="@{'https://www.linkedin.com/sharing/share-offsite/?url=' + ${url}}" target="_blank" class="share-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>
</body>
<hr>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>About me</h4>
                    <p th:text="#{introduction}"> </p>
                </div>
                <div class="col-md-4">
                    <h4>Follow me</h4>
                    <ul class="social-icon">
                        <li><a href="https://twitter.com/KJavaman" target="_blank"><img src="https://i.pinimg.com/564x/62/6e/cc/626ecc149649ec8ddb5853e12d87625c.jpg" ></img></a></li>
                        <li><a href="https://www.linkedin.com/in/yeachan-shin-276074261/" target="_blank"><img src="https://i.pinimg.com/564x/b0/28/c2/b028c2e59043116dfc0da6ec6fd26d70.jpg" ></img></a></li>
                        <li><a href="https://github.com/k-javaman" target="_blank"><img src="https://i.pinimg.com/564x/3a/64/71/3a64716dc68d3a2fd08381f697e77e7d.jpg" ></img></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="text-center">
            <a href="https://www.buymeacoffee.com/kjavaman12" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=kjavaman12&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>
