<!DOCTYPE html>
<html>
<head>
   <title>Backend Developer Roadmap</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Our first page">
   <meta name="keywords" content="html tutorial template">
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">AWS</h5>
            <div class="form-check form-switch text-end">
               <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault" th:replace="fragments/status :: header">finished</label>
            </div>
         </div>
         <div class="modal-body">
            <h4>
               Why you should learn AWS?
            </h4>
            <p>
               Learning AWS empowers software developers to leverage scalable and cost-effective cloud infrastructure, access a wide range of services, improve application performance, enhance security and compliance, automate processes, and align with industry trends. It is a valuable skillset that enables developers to build robust and scalable applications in the cloud computing era.
            <h4>
               Free Course
            </h4>
            <p>
               Before embarking on your AWS journey, I highly recommend exploring the free training resources provided by Adrian Cantrill. These playlists cover essential computer science and networking fundamentals, as well as advanced topics related to DNS, DNSSEC, networking, and security. and it will you to gain a solid understanding of the fundamental and advanced concepts essential for AWS in the end.
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLTk5ZYSbd9Mh1mxFFu1Jx-g9VsdzQ0REW" target="_blank">"Technical Fundamentals playlist "</a>
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLTk5ZYSbd9Mi_ya5tVFD8NFfU1YZOyml1" target="_blank">"Networking Fundamentals playlist "</a>
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLTk5ZYSbd9MhMmOiPhfRJNW7bhxHo4q-K" target="_blank">"DNS & DNSSEC playlist "</a>
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLTk5ZYSbd9MgokEYv4GSOrYHPDrvppnCR" target="_blank">"Advanced Networking playlist "</a>
            </p>
            <p>
               <a href="https://www.youtube.com/playlist?list=PLTk5ZYSbd9MgZZWbuiXLitIT1iq5q4yIW" target="_blank">"Security Playlist playlist "</a>
            </p>
            <p>
               Andrew Brown's AWS course covers a comprehensive range of topics related to Amazon Web Services. From cloud concepts and digital transformation to compute, storage, databases, networking, and security, the course provides in-depth insights into AWS services and their practical application. With a focus on cloud architecture, management tools, and developer resources, learners gain a strong foundation in AWS. Additionally, the course explores areas such as application integration, serverless computing, machine learning, and the AWS Well-Architected Framework. This extensive course equips participants with the knowledge needed to understand and leverage the benefits of AWS for various use cases.
            </p>
            <p>
               <a href="https://www.youtube.com/watch?v=SOTamWNgDKc&t=3s" target="_blank">"AWS Certified Cloud Practitioner Certification Course "</a>
            </p>
            <p>
               But if you are willing to get the AWS Cloud Practitioner Certification, i would recommend you to take his AWS Certified Solutions Architect course more and get the certification of it. Cause it is more acknowledged.
            </p>
            <p>
               <a href="https://www.youtube.com/watch?v=Ia-UEYYR44s&t=53s" target="_blank">AWS Certified Solutions Architect - Associate</a>
            </p>
            <h4>
               Paid Course
            </h4>
            <p>
               Adrian Cantrill's AWS Certified Solutions Architect - Associate course is a comprehensive and constantly updated resource for mastering AWS cloud computing. Focused on the SAA-C03 certification, the course combines theory and practical demos with real-world scenarios. It respects your time with concise lessons, covers essential architectural concepts, and dives deep into core AWS services. With a cost-conscious approach, the course helps you create and set up AWS accounts, leveraging the free tier. By completing this course, you'll not only be prepared to pass the certification exam but also gain real-world skills to excel as an AWS Solutions Architect.
            </p>
            <p>
               <a href="https://learn.cantrill.io/p/aws-certified-solutions-architect-associate-saa-c03" target="_blank">AWS Certified Solutions Architect - Associate(SAA-C03)</a>
            </p>
            <h4>
               Book
            </h4>
            <p>
               "AWS Cookbook: Recipes for Success on AWS" is a practical guide that offers step-by-step instructions and best practices for building and optimizing applications on the Amazon Web Services (AWS) platform. With a focus on real-world scenarios, the book covers a range of topics including data redaction, automation, network troubleshooting, security measures, policy analysis, and container scaling. It is designed to help both beginners and experienced AWS users navigate the complexities of the platform and gain practical insights to enhance their AWS deployments and achieve success in their projects.
            </p>
            <p>
               <a href="https://www.amazon.com/How-Linux-Works-Brian-Ward/dp/1718500408/ref=sr_1_1?crid=1GV58XEOGXYIM&keywords=how+linux+works&qid=1685326352&s=books&sprefix=how+linux+wor%2Cstripbooks-intl-ship%2C564&sr=1-1" target="_blank">AWS Cookbook: Recipes for Success on AWS</a>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>